<nb-layout>
        <nb-layout-column>
            <nb-card class="cartao">
                <nb-card-header>
                    RGISTRE-SE
                </nb-card-header>
                <nb-card-body>
                    <form aria-labelledby="title" [formGroup]="formConfig">
                        <div class="form-control-group">
                            <label 
                                class="label" 
                                for="input-login"
                            >Login:
                            </label>
                            <input 
                                nbInput     
                                fullWidth 
                                id="input-login" 
                                formControlName="login" 
                                placeholder="Login"
                                [status]="formConfig.controls.login.dirty ? (formConfig.controls.login.invalid  ? 'danger' : 'success') : ''"
                            >
                        </div>
                        <div class="form-control-group">
                            <label 
                                class="label" 
                                for="input-fullName"
                            >Nome:
                            </label>
                            <input 
                                nbInput 
                                fullWidth 
                                id="input-fullName" 
                                formControlName="fullName" 
                                placeholder="Nome"
                                [status]="formConfig.controls.fullName.dirty ? (formConfig.controls.fullName.invalid  ? 'danger' : 'success') : ''"
                            >
                        </div>
                        <div class="form-control-group">
                            <label 
                                class="label" 
                                for="input-email"
                            >Email:
                            </label>
                            <input 
                                nbInput 
                                fullWidth 
                                id="input-email"  
                                formControlName="email" 
                                placeholder="Email"
                                [status]="formConfig.controls.email.dirty ? (formConfig.controls.email.invalid  ? 'danger' : 'success') : ''"
                            >
                        </div>
                        <div class="form-control-group">
                            <label 
                                class="label" 
                                for="input-cpf"
                            >
                            CPF:
                            </label>
                            <input 
                                nbInput 
                                fullWidth 
                                id="input-cpf"   
                                formControlName="cpf" 
                                placeholder="CPF"
                                [status]="formConfig.controls.cpf.dirty ? (formConfig.controls.cpf.invalid  ? 'danger' : 'success') : ''"
                            >
                        </div>
                        <div class="form-control-group">
                            <label 
                                class="label" 
                                for="input-phone"
                            >
                            Fone:
                            </label>
                            <input 
                                nbInput 
                                fullWidth 
                                id="input-phone"   
                                formControlName="phone" 
                                placeholder="Fone"
                                [status]="formConfig.controls.phone.dirty ? (formConfig.controls.phone.invalid  ? 'danger' : 'success') : ''"
                            >
                        </div>
                        <div class="form-control-group">
                            <label 
                                class="label" 
                                for="input-password"
                            >Senha:
                            </label>
                            <input 
                                nbInput 
                                fullWidth 
                                id="input-password" 
                                formControlName="password" 
                                type="password"
                                placeholder="Senha"
                                [status]="formConfig.controls.password.dirty ? (formConfig.controls.password.invalid  ? 'danger' : 'success') : ''"
                            >
                        </div>
                        <div class="form-control-group">
                            <button 
                                nbButton 
                                fullWidth 
                                status="primary" 
                                size="large" 
                                (click)="submmit()"
                            >Registrar
                            </button>
                        </div>
                    </form>
                </nb-card-body>
                <nb-card-footer>
                    <a (click)="voltar()"  >Voltar</a>
                </nb-card-footer>
            </nb-card>
        </nb-layout-column>
    </nb-layout>